<!--
  Mock: https://www.figma.com/file/ABYYHdNUhkRkuKFHP6J1O8/FEND-Interview?node-id=0%3A1
  Bootstrap is available to be used if needed.
-->

<div class="container">
  <div class="row">
    <div class="col mt-4">
      <button
        type="button"
        class="btn btn-primary shadow btn-autosize"
        (click)="getUsers()"
      >
        GET USERS
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-xl-3 col-lg-6 mt-3 d-sm-flex" *ngFor="let user of users">
      <div class="card border shadow-sm w-100">
        <div class="card-body align-items-center">
          <h4 class="card-title">{{ user?.name }}</h4>

          <p class="d-sm-inline-flex">
            <small
              ><strong>Email:</strong>
              <span class="text-primary ml-1">{{ user?.email }}</span></small
            >
          </p>
          <!-- If a User has the "confirmed" property, display "created_at" formatted in
  "MM/DD/YYYY" using the Date pipe, otherwise show "unconfirmed." -->
          <p class="card-text">
            <small>
              <strong class="mr-1">Joined:</strong>

              <span [ngClass]="{ 'text-danger': !user?.confirmed }"
                >{{
                  user?.confirmed
                    ? (user.created_at | date: 'MM/dd/YYYY')
                    : 'unconfirmed'
                }}
              </span>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
